<div class="DS-layout-wrapper">
  <app-ds-layout-header></app-ds-layout-header>
  <div class="DS-layout-container">
    <app-ds-layout-sidebar></app-ds-layout-sidebar>
    <div class="DS-layout-main">
      <nav>
        <ul>
          <li routerLinkActive="active">
            <a routerLink="/home">home</a>
          </li>
          <li routerLinkActive="active">
            <a routerLink="home">maintain</a>
          </li>
        </ul>
      </nav>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
