<header>
  <div class="logo">
    <img src="../../../../assets/image/drivesmartpng.png" width="85px" height="15px">
  </div>
  <!-- <nav class="DS-menu-box">
    <ul>
      <li *ngFor="let item of menus" [ngClass]="{'active':isActive == item.key}">{{item.text}}</li>
    </ul>
  </nav> -->
  <div class="DS-tool-box">
    <img src="../../../../assets/image/20.svg">
    <img src="../../../../assets/image/message.svg">
    <img src="../../../../assets/image/help.svg">
    <div class="action">
    </div>
    <div class="DS-tool-avatar">
      <img src="../../../../assets/image/avatar.png">
    </div>
    <button pButton label="Sigout" style="margin-left:1.25em" class="sigout" (click)="sigout()"></button>
  </div>
</header>
