<header>
  <div class="logo">
    <!-- <img src="../../../../assets/image/cdkLogo.png"> -->
    <div class="title">DriveSmart</div>
  </div>
  <!-- <p-tabMenu [model]="items"></p-tabMenu> -->
  <nav class="DS-menu-box">
    <ul>
      <li>Sales</li>
      <li>After Sales</li>
    </ul>
  </nav>
  <div class="menu">

    <div class="name">
      Welcome: <span>April</span>
    </div>
    <div class="action">
      <!-- <button mat-icon-button> -->
      <!-- <mat-icon color="primary">logout</mat-icon> -->
      <!-- </button> -->
    </div>
    <div class="avatar">
      <img src="../../../../assets/image/avatar.png">
    </div>
  </div>
</header>
