<header>
  <div class="logo">
    <img src="../../../../assets/image/driveSmart.svg">
    <!-- <div class="title">DriveSmart</div> -->
  </div>
  <!-- <p-tabMenu [model]="items"></p-tabMenu> -->
  <nav class="DS-menu-box">
    <ul>
      <li>Sales</li>
      <li>After Sales</li>
    </ul>
  </nav>
  <div class="DS-tool-box">

    <!-- <div class="DS-tool-search"> -->
      <img src="../../../../assets/image/20.svg">
    <!-- </div> -->
    <!-- <div class="DS-tool-mes"> -->
      <img src="../../../../assets/image/message.svg">
    <!-- </div> -->
    <!-- <div class="DS-tool-help"> -->
      <img src="../../../../assets/image/help.svg">
    <!-- </div> -->
    <div class="action">
      <!-- <button mat-icon-button> -->
      <!-- <mat-icon color="primary">logout</mat-icon> -->
      <!-- </button> -->
      </div>
    <div class="DS-tool-avatar">
      <img src="../../../../assets/image/avatar.png">
    </div>
  </div>
</header>
