.DS-layout-wrapper {
  height: 100vh;
  @include flexbox();
}
.DS-layout-container {
  @include flexbox();
  height: calc(100vh - 48px);
}
.DS-layout-main {
  @include flex();
}
app-ds-layout-header {
  @include flex();
}
app-ds-layout-sidebar {
  width: 120px;
  position: relative;
  z-index: 1;
}
app-home {
  @include flex();
  padding: 20px;
  @include flexbox();
  height: 100%;

  p-card {
    flex: 3;
    .ui-card-header {
      padding: 10px 20px;
      h3 {
        margin: 0;
        height: 36px;
        line-height: 36px;
      }
    }
    .ui-card {
      color: #333;
    }
    + p-card {
      margin-left: 20px;
      flex: 1;
    }
  }
}
.DS-charts {
  height: 100%;
}
.DS-schedule {
  height: 100%;
  .dataControl {
    float: right;
    .ui-button {
      background-color: transparent !important;
      border: 0 none !important;
    }
  }
  .ui-card-body {
    height: calc( 100% - 56px);
  }

  .ui-card-content {
    height: 100%;
    overflow: auto;
  }
}
.DS-main {
  padding: 20px;
  height: 100%;
  .title {
    font-size: 14px;
    color: #565656;
    padding-bottom: 20px;
    height: 40px;
  }
  .ui-menuitem-link {
    text-align: center;

    .ui-menuitem-text {
      margin-right: 0 !important;
    }
  }
  .action-wrap {
    height: 70px;
    padding: 20px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-radius: 2px;
    margin-bottom: 20px;
  }

  .title-wrap {
    height: 40px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    border-radius: 2px;
  }
  .content-wrap {
    padding: 20px;
    background-color: #fff;
    border-radius: 2px;

    .ui-paginator {
      padding-top: 16px;
    }
  }
  .ui-table {
    .ui-table-tbody {
      word-break: break-all;
    }
    .ui-table-summary {
      padding: 1em;
      text-align: right;
    }
  }
}
.vehicle-filter {
  margin-bottom: 20px;
  text-align: right;

  .ui-dropdown-label {
    text-align: left;
  }
}

app-retail {
  .ui-button.ui-button-text-only .ui-button-text {
    padding: .25em 1em !important;
  }
  table {
    .ui-button {
      cursor: pointer;

      &:disabled {
        cursor: not-allowed;
      }
    }
  }
}
.pi.pi-calendar {
  font-family: 'ds' !important;

  &:before {
    content: '\e664';
  }
}
.ui-button.ui-calendar-button {
  // display: none;
  float: right;
  background-color: #fff !important;
  border: 0 none !important;
  margin-top: -32px;
  margin-right: 2px;
  width: 30px !important;
  height: 30px !important;
  color: #ccc !important;

  &:focus {
    outline: 0 none;
    box-shadow: none !important;
  }
}
.ui-calendar.ui-calendar-w-btn input.ui-inputtext {
  width: 100% !important;
  border-radius: 3px !important;
  padding-right: 20px;
  border-right: 1px solid #a6a6a6 !important;

  &:hover {
    border-right: 1px solid #212121 !important;
  }
  &:focus {
    border-right: 1px solid #82c600 !important;
  }
}
