.DS-main {
  .title {
    .text {
      color: #82c600;
      font-weight: 300;
    }

    img {
      margin: 0 10px;
    }

    .button {
      float: right;
    }
  }

  .content {
    display: flex;
    justify-content: space-between;

    .unit {
      display: flex;
      justify-content: space-between;

      // margin-top: 10px;
      .name {
        font-size: 12px;
        font-weight: 400;
        color: #565656;
      }

      .b-name {
        font-size: 14px;
      }
    }

    .form-border {
      padding-bottom: 5px;
      border-bottom: 1px solid #f3f3f3;

      .margin-t {
        margin-top: 5px;
      }

      .margin-b {
        margin-bottom: 5px;
      }

      .deck {
        font-size: 10px;
        color: #8f8f8f;
      }

      .block {
        margin-left: 5px;
      }
    }

    .summary {
      padding-top: 17px;
    }

    .form-content {
      padding: 0 1em 0 0;
      flex: 1;
    }

    .view-content {
      padding: 0;

      .content-wrap {
        height: 100%;
      }
    }

    .add {
      margin-left: 10px;
    }

    .add-content {
      display: flex;
      justify-content: space-between;
    }

    .dropdown {
      width: 60%;
    }
  }
}
.content {
  height: calc(100% - 80px);
  background-color: transparent;
}
.form-wrap {
  label {
    font-size: 14px;
    margin-bottom: 5px;
    display: inline-block;
  }
}
.content-form {
  height: calc(100% - 90px);
  overflow: auto;
}
.button-wrap {
  text-align: right;
  flex: 1;
  padding-right: 20px;
}
.action-wrap {
  padding: 0;
}
// .content-wrap {
//   height: 100%;
// }
// .content {

//   // height: calc( 100% - 180px);
// }
