<div class="board-monitor">
  <div class="form-wrap">
    <div class="title-wrap">
      调度总看板
    </div>
    <div class="search-wrap">
    </div>
  </div>

  <div class="monitor-wrap">
    <div class="ui-g">
      <div class="ui-g-2" style="width: 20%;padding: 0 0.5em;">
        <div class="title-wrap">
          基本信息
        </div>
        <div class="content-wrap">
          <div class="ui-g">
            <div class="ui-g-12">
              <div class="car-warp" (click)="jumpPage()" style="cursor: pointer;">
                <div class="info">
                  <div class="num">{{progressAllObj['CREATED']?.length}}</div>
                  <div class="label">待派工</div>
                </div>
                <div class="image">
                  <img src="../../../../assets/image/board_monitor/waiting_work.svg">
                </div>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="car-warp purple">
                <div class="info">
                  <div class="num">{{progressAllObj['WORKSTARTED']?.length}}</div>
                  <div class="label">维修中</div>
                </div>
                <div class="image">
                  <img src="../../../../assets/image/board_monitor/maintenance.svg">
                </div>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="car-warp red">
                <div class="info">
                  <div class="num">{{progressAllObj['INPROGRESS']?.length}}</div>
                  <div class="label">增项</div>
                </div>
                <div class="image">
                  <img src="../../../../assets/image/board_monitor/addition.svg">
                </div>
              </div>
            </div>
            <div class="ui-g-12">
              <div class="car-warp blue">
                <div class="info">
                  <div class="num">{{progressAllObj['CHECKOUT']?.length}}</div>
                  <div class="label">待交车</div>
                </div>
                <div class="image">
                  <img src="../../../../assets/image/board_monitor/waiting_delivery.svg">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="ui-g-6" style="width: 46.6%;padding: 0 0.5em;">
        <div class="title-wrap">
          技师组信息
        </div>
        <div class="content-wrap">
          <div class="ui-g">
            <div class="ui-g-6" *ngFor="let item of employeeGlist; let i = index;">
              <div class="tech-warp">
                <div class="ui-g">
                  <div class="ui-g-7">
                    <div class="title">{{item.groupname || '-'}}</div>
                    <div class="type">{{formatSkill(item.skills) || '-'}}</div>
                  </div>
                  <div class="ui-g-5 station" *ngIf="stationObj[item.groupid]">
                    <div *ngFor="let station of stationObj[item.groupid]"><span>{{station || '-'}}</span></div>
                  </div>
                </div>
                <div class="ui-g bottom">
                  <div class="ui-g-4 info-warp">
                    <div>{{item.current_day_hours || '-'}}</div>
                    <div>{{item.current_month_hours || '-'}}</div>
                  </div>
                  <div class="ui-g-4 info-warp">
                      <div>{{item.current_day_big_task || '-'}}</div>
                      <div>{{item.current_month_big_task || '-'}}</div>
                  </div>
                  <div class="ui-g-4">
                    <div class="per-label">
                      <div>{{item.effort || '-'}}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-4" style="padding: 0 0.5em;">
        <div class="title-wrap">
          工位信息
        </div>
        <div class="content-wrap">
          <div class="ui-g">
            <div class="ui-g-3" *ngFor="let item of stationlist; let i = index;">
              <div class="station-warp" [ngClass]="{'free-select': item.status === 'Y', 'feature-select': item.status === 'F'}">
                <div>
                  <img *ngIf="item.status === 'Y'" src="../../../../assets/image/board_monitor/free_station.svg">
                  <img *ngIf="item.status === 'N'" src="../../../../assets/image/board_monitor/unavailable_station.svg">
                  <img *ngIf="item.status === 'F'"  src="../../../../assets/image/board_monitor/station.svg">
                </div>
                <div>
                  {{item.stationid || '-'}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
