<div class="board-monitor">
  <div class="form-wrap">
    <div class="title-wrap">
      调度总看板
    </div>
    <div class="search-wrap">
      <!-- <div class="ui-g ui-fluid">
        <div class="ui-g-12" style="padding: 0;">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText>
            <label for="float-input">查询车牌号/车架号</label>
          </span>
        </div>
      </div> -->
    </div>
  </div>

  <div class="monitor-wrap">
    <div class="ui-g">
      <div class="ui-g-6">
        <div class="title-wrap">
          车
        </div>
        <div class="content-wrap">
          <div class="ui-g">
            <div class="ui-g-6 ">
                1
            </div>
            <div class="ui-g-6">
                2
            </div>
            <div class="ui-g-6">
                3
            </div>
            <div class="ui-g-6">
                4
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="ui-g-3">
        <div class="title-wrap">
          人
        </div>
        <div class="content-wrap">
          车
        </div>
      </div>
      <div class="ui-g-3">
        <div class="title-wrap">
          工位
        </div>
        <div class="content-wrap">
          车
        </div>
      </div>
    </div>
  </div>
</div>
