<div class="board-monitor">
  <div class="form-wrap">
    <div class="title-wrap">
      调度总看板
    </div>
    <div class="search-wrap">
    </div>
  </div>

  <div class="monitor-wrap">
    <div class="ui-g">
      <div class="ui-g-2" style="width: 20%;padding: 0 0.5em;">
        <div class="title-wrap">
          基本信息
        </div>
        <div class="content-wrap">
          <div class="ui-g">
            <div class="ui-g-12" *ngFor="let item of itemList; let i = index;">
              <div class="car-warp" [ngClass]="{'purple': i===1, 'red': i===2, 'blue': i===3}">
                <div>
                  <div class="num">{{item.num}}</div>
                  <div class="label">{{item.label}}</div>
                </div>
                <div>
                  <img class="image" src="{{item.img}}">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div></div>
      </div>
      <div class="ui-g-6" style="width: 46.6%;padding: 0 0.5em;">
        <div class="title-wrap">
          技师组信息
        </div>
        <div class="content-wrap">
          <div class="ui-g">
            <div class="ui-g-6" *ngFor="let item of [1,2,3,4,5]; let i = index;">
              <div class="tech-warp">
                <div class="ui-g">
                  <div class="ui-g-6">
                    <div class="title">技师组1</div>
                    <div class="type">钣金</div>
                  </div>
                  <div class="ui-g-6 station">
                    <div><span>1</span></div>
                    <div><span>2</span></div>
                  </div>
                </div>
                <div class="ui-g bottom">
                  <div class="ui-g-4 info-warp">
                    <div>260</div>
                    <div>2.5K</div>
                  </div>
                  <div class="ui-g-4 info-warp">
                      <div>1</div>
                      <div>20</div>
                  </div>
                  <div class="ui-g-4">
                    <div class="per-label">
                      <div>30%</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="ui-g-4" style="padding: 0 0.5em;">
        <div class="title-wrap">
          工位信息
        </div>
        <div class="content-wrap">
          <div class="ui-g">
            <div class="ui-g-3" *ngFor="let item of [1,2,3,4,5]; let i = index;">
              <div class="station-warp" [ngClass]="{'free': i === 2}">
                <div>
                  <img src="../../../../assets/image/board_monitor/station.svg">
                </div>
                <div>
                  工位{{i+1}}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
