<div class="tech-select">
    <div class="ui-g">
      <div class="ui-g-3 section">
        <div class="ui-g-12" *ngFor="let item of dataList">
          <div class="tech-warp" (click)="selectTeam(item)"
            [ngClass]="{'selected': item.selected}">
            <div class="ui-g">
              <div class="ui-g-6">
                <div class="title">{{item.name}}</div>
                <div class="type">{{item.skill}}</div>
              </div>
              <div class="ui-g-6 station">
                <div *ngFor="let st of item.default_stations"><span>{{st.stationid}}</span></div>
              </div>
            </div>
            <div class="ui-g bottom">
              <div class="ui-g-4 info-warp">
                <div>{{item.dailyTotalHours}}</div>
                <div>{{item.monthlyTotalHours}}</div>
              </div>
              <div class="ui-g-4 info-warp">
                <div>{{item.dailyHotJobs}}</div>
                <div>{{item.monthlyHotJobs}}</div>
              </div>
              <div class="ui-g-4">
                <div class="per-label">
                  <div>{{item.effective}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="ui-g-4 section" >
        <div class="ui-g-12">
          <mwl-calendar-day-view
                [viewDate]="viewDate"
                [events]="currentEvent"
                [dayStartHour]="8"
                [dayEndHour]="17"
                [hourSegments]="4"
                [refresh]="refresh"
                (eventTimesChanged)="eventTimesChanged($event)"
              >
          </mwl-calendar-day-view>
        </div>
      </div>
      <div class="ui-g-5 section" >
        <div class="content-wrap">
          <div class="ui-g">
            <div class="ui-g-3" *ngFor="let item of availableStations;">
              <div class="station-warp"
                [ngClass]="{'free': item.status == 'Y' && !item.selected,
                            'selected' : item.status == 'Y' && item.selected}">
                <div>
                  <img src="../../../../../../assets/image/board_monitor/station.svg">
                </div>
                <div>
                  {{item.stationid}} - {{item.status}} - {{item.selected}}
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="ui-g" style="margin-top:10px;">
        <div class="ui-g-10">&nbsp;</div>
        <div class="ui-g-1" style="text-align: right">
          <button pButton icon="pi" label="取消" (click)="close()" class="ui-button-secondary"></button>
        </div>
        <div class="ui-g-1" style="text-align: right">
          <button pButton icon="pi" (click)="submit()" label="确认"></button>
        </div>
    </div>


</div>
