.tech-select{
    .ui-dialog .ui-dialog-content.ui-widget-content {
        overflow: auto;
        height: 80% !important;
    }

    .ui-g .section {
        height: calc(100vh - 263px);
        overflow-y: auto;
    }

    .tech-warp {
      opacity: 0.98;
      background: #F2F4F8;
      padding: 20px 30px;
      border : 1px solid #FFFFFF;
      &.selected{
        border: 1px solid #82C600;
      }
      .title {
        font-size: 18px;
      }

      .type {
        font-size: 12px;
        color: #8C8C8C;
      }

      .station {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;

        div {
          width: 20px;
          height: 20px;
          margin-left: 20px;
          text-align: center;
          line-height: 30px;
          background: url('../../../../../../assets/image/board_monitor/tech_station.svg');
        }
      }

      .bottom {
        font-size: 14px;
        color: #565656;
        line-height: 26px;

        .info-warp div {
          border-right: 1px solid #DCDCDC;
        }

        .per-label {
          font-size: 24px;
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          height: 100%;
        }
      }
    }

    .content-wrap {
      padding: 5px;
      background: #fff;

      .car-warp {
        padding: 20px;
        color: #fff;
        background-image: linear-gradient(135deg, #00BAB6 0%, #92EEEE 100%);
        border-radius: 2px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .num {
          font-size: 60px;
          line-height: 70px;
        }

        .label {
          font-size: 16px;
          line-height: 22px;
        }

        .image {
          display: block;
          width: 65px;
          height: 63px
        }
      }

      .car-warp.purple {
        background-image: linear-gradient(134deg, #6E32C9 0%, #BB8EFF 100%);
      }

      .car-warp.red {
        background-image: linear-gradient(-45deg, #FFA4A9 0%, #FF767C 100%);
      }

      .car-warp.blue {
        background-image: linear-gradient(135deg, #0062FF 0%, #6EA6FF 100%);
      }

      .tech-warp {
        opacity: 0.98;
        background: #F2F4F8;
        padding: 20px 30px;

        .title {
          font-size: 18px;
        }

        .type {
          font-size: 12px;
          color: #8C8C8C;
        }

        .station {
          display: flex;
          flex-direction: row;
          justify-content: flex-end;

          div {
            width: 20px;
            height: 20px;
            margin-left: 20px;
            text-align: center;
            line-height: 30px;
            background: url('../../../../../../assets/image/board_monitor/tech_station.svg');
          }
        }

        .bottom {
          font-size: 14px;
          color: #565656;
          line-height: 26px;

          .info-warp div {
            border-right: 1px solid #DCDCDC;
          }

          .per-label {
            font-size: 24px;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;
            height: 100%;
          }
        }
      }

      .station-warp {
        padding: 15px 20px;
        background: #F3F3F3;
        border: 1px solid #F3F3F3;
        border-radius: 2px;
        text-align: center;
      }

      .station-warp.free {
        background: #FFFFFF;
        border: 1px solid #82C600;
      }
      .station-warp.selected {
        color : #FFFFFF;
        background: #82C600;
        border: 1px solid #82C600;
      }
    }

}
