.loading {
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 999999;
}

@keyframes ui-progress-spinner-color {

  

  100%,
  0% {
    stroke: #82C600;
  }

  40% {
    stroke: #82C600;
  }

  66% {
    stroke: #82C600;
  }

  80%,
  90% {
    stroke: #82C600;
  }
}
