<div class="DS-main">
  <div class="title">
    库存管理
  </div>
  <div class="action-wrap">
      <section class="form-wrap">
          <div class="ui-g ui-fluid">
            <div class="ui-g-5">
              <span class="ui-float-label">
                <input id="float-input" type="text" size="30" pInputText>
                <label for="float-input">模糊搜索查询姓名/手机号/底盘号/…</label>
              </span>
            </div>
    
            <div class="ui-g-2">
              <span class="ui-float-label">
                <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                <label for="float-input">开始日期</label>
              </span>
            </div>
    
            <div class="ui-g-2">
              <span class="ui-float-label">
                <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
                <label for="float-input">结束日期</label>
              </span>
            </div>
          </div>
        </section>
        <section class="button-wrap">
          <p-button label="搜索" (onClick)="handleClick($event)"></p-button>
        </section>
  </div>
  <div class="content-wrap">
    <p-table [columns]="cols" [value]="cars" [lazy]="true" [paginator]="true" [rows]="10" [rowsPerPageOptions]="[10,20,30]" [loading]="loading" [scrollable]="true" scrollHeight="calc(100% - 80px)">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of columns" [pSortableColumn]="col.field">
            {{col.header}}
          </th>
          <th>
            操作
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowData let-columns="columns">
        <tr [pSelectableRow]="rowData">
          <td *ngFor="let col of columns">
            {{rowData[col.field]}}
          </td>
          <td>
            <p-button icon="pi pi-pencil" (click)="onEdit(rowData)"></p-button>
            <p-button icon="pi pi-times" (click)="onDelete(rowData)"></p-button>
          </td>
        </tr>
      </ng-template>
      <ng-template pTemplate="loadingbody" let-columns="columns">
          <tr style="height:34px">
              <td *ngFor="let col of columns">
                  <div class="loading-text">加载数据中</div>
              </td>
          </tr>
      </ng-template>
    </p-table>

  </div>
</div>

<p-dialog header="Car Details" [(visible)]="displayDialog" showEffect="fade" [modal]="true" [style]="{width: '500px'}">
  <div class="ui-g ui-fluid" *ngIf="car">
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="vin">Vin</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="vin" [(ngModel)]="car.vin" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="year">Year</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="year" [(ngModel)]="car.year" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="brand">Brand</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="brand" [(ngModel)]="car.brand" />
      </div>
    </div>
    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="color">Color</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="color" [(ngModel)]="car.color" />
      </div>
    </div>
  </div>
  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="save()" label="Save"></button>
    </div>
  </p-footer>
</p-dialog>
