<div class="board-progress">
  <div class="form-wrap">
    <div class="title-wrap">
      进度看板
    </div>
    <div class="search-wrap">
      <section class="input-wrap">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12" style="padding-left: 0;">
              <input [(ngModel)]="inputStr" id="float-input" type="text" size="30" pInputText placeholder="查询车牌号/车架号">
              <!-- <label for="float-input">查询车牌号/车架号</label> -->
          </div>
        </div>
      </section>
      <section class="button-wrap">
        <p-button label="搜索" (onClick)="search()"></p-button>
      </section>
    </div>
  </div>
  <div class="progress-wrap">
    <div class="maintain-wrap">
      <div class="title-wrap">
        <div class="text">
          维修区<span>（{{progressAllObj.CHECKEDIN.length + progressAllObj.WORKSTARTED.length + progressAllObj.INPROGRESS.length}}）</span>
        </div>
        <!-- <div class="icon"></div> -->
      </div>
      <div class="content-wrap">
        <div class="column-wrap">
          <div class="subTitle-wrap">
            <div class="text">待维修</div>
            <div class="icon"></div>
          </div>
          <div class="column-content">
            <div class="card-content">
              <div class="card-wrap" *ngFor="let item of progressAllObj.CHECKEDIN;let i = index;">
                <div class="item-label">
                  <div>牌照号</div>
                </div>
                <div class="chassis-number">{{item.vehicleLicensePlate || '-'}}</div>
                <div class="item-label">
                  <div>工单</div>
                  <div>{{getRepairOrderId(item.repairOrderId)}}</div>
                </div>
                <div class="item-label">
                  <div>服务顾问</div>
                  <div>{{item.assignedAdvisorName || '-'}}</div>
                </div>
                <div class="item-label">
                  <div>交车时间</div>
                  <div>{{item.dueOutDateTime | date :'yyyy-MM-dd HH:MM' || '-'}}</div>
                </div>
              </div>
              <!-- <p-virtualScroller styleClass="board-progress" [value]="waitingMaintainList" scrollHeight="600px"
                [itemSize]="130" [rows]="5" [cache]="false" [lazy]="true"
                (onLazyLoad)="loadCarsLazy($event, 'waitingMaintainList')" [totalRecords]="totalLazyCarsLength">
                <ng-template let-car pTemplate="item" let-i="index">
                  <div class="card-wrap">
                    <div class="item-label">
                      <div>牌照号</div>
                    </div>
                    <div class="chassis-number">{{car?.vin}}</div>
                    <div class="item-label">
                      <div>工单</div>
                      <div>{{car?.brand}}</div>
                    </div>
                    <div class="item-label">
                      <div>服务顾问</div>
                      <div>{{car?.color}}</div>
                    </div>
                    <div class="item-label">
                      <div>交车时间</div>
                      <div>{{car?.year}}</div>
                    </div>
                  </div>
                </ng-template>
              </p-virtualScroller> -->
            </div>
          </div>
        </div>
        <div class="column-wrap">
          <div class="subTitle-wrap">
            <div class="text">维修中</div>
            <div class="icon"></div>
          </div>
          <div class="column-content">
            <div class="card-content">
              <div class="card-wrap" *ngFor="let item of progressAllObj.WORKSTARTED;let i = index;">
                <div class="item-label">
                  <div>牌照号</div>
                </div>
                <div class="chassis-number">{{item.vehicleLicensePlate || '-'}}</div>
                <div class="item-label">
                  <div>工单</div>
                  <div>{{getRepairOrderId(item.repairOrderId)}}</div>
                </div>
                <div class="item-label">
                  <div>服务顾问</div>
                  <div>{{item.assignedAdvisorName || '-'}}</div>
                </div>
                <div class="item-label">
                  <div>交车时间</div>
                  <div>{{item.dueOutDateTime | date :'yyyy-MM-dd HH:MM' || '-'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="column-wrap">
          <div class="subTitle-wrap">
            <div class="text">增项维修</div>
            <div class="icon"></div>
          </div>
          <div class="column-content">
            <div class="card-content">
              <div class="card-wrap" *ngFor="let item of progressAllObj.INPROGRESS;let i = index;">
                <div class="item-label">
                  <div>牌照号</div>
                </div>
                <div class="chassis-number">{{item.vehicleLicensePlate || '-'}}</div>
                <div class="item-label">
                  <div>工单</div>
                  <div>{{getRepairOrderId(item.repairOrderId)}}</div>
                </div>
                <div class="item-label">
                  <div>服务顾问</div>
                  <div><span>{{item.assignedAdvisorName || '-'}}</span></div>
                </div>
                <div class="item-label">
                  <div>交车时间</div>
                  <div>{{item.dueOutDateTime | date :'yyyy-MM-dd HH:MM' || '-'}}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-wrap">
      <div class="title-wrap blue">
        <div class="text">洗车区<span>（{{progressAllObj.WORKCOMPLETED.length}}）</span></div>
        <div class="icon"></div>
      </div>
      <div class="secondary-content">
        <div class="card-content">
          <div class="card-wrap blue" *ngFor="let item of progressAllObj.WORKCOMPLETED;let i = index;">
            <div class="item-label">
              <div>牌照号</div>
            </div>
            <div class="chassis-number">{{item.vehicleLicensePlate || '-'}}</div>
            <div class="item-label">
              <div>工单</div>
              <div>{{getRepairOrderId(item.repairOrderId)}}</div>
            </div>
            <div class="item-label">
              <div>服务顾问</div>
              <div>{{item.assignedAdvisorName || '-'}}</div>
            </div>
            <div class="item-label">
              <div>交车时间</div>
              <div>{{item.dueOutDateTime | date :'yyyy-MM-dd HH:MM' || '-'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-wrap">
      <div class="title-wrap purple">
        <div class="text">交车区<span>（{{progressAllObj.CHECKEDOUT.length}}）</span></div>
        <div class="icon"></div>
      </div>
      <div class="secondary-content">
        <div class="card-content">
          <div class="card-wrap purple" *ngFor="let item of progressAllObj.CHECKEDOUT;let i = index;">
            <div class="item-label">
              <div>牌照号</div>
            </div>
            <div class="chassis-number">{{item.vehicleLicensePlate || '-'}}</div>
            <div class="item-label">
              <div>工单</div>
              <div>{{getRepairOrderId(item.repairOrderId)}}</div>
            </div>
            <div class="item-label">
              <div>服务顾问</div>
              <div>{{item.assignedAdvisorName || '-'}}</div>
            </div>
            <div class="item-label">
              <div>交车时间</div>
              <div>{{item.dueOutDateTime | date :'yyyy-MM-dd HH:MM' || '-'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="secondary-wrap">
      <div class="title-wrap red">
        <div class="text">滞留区<span>（{{progressAllObj.PENDING.length}}）</span></div>
        <div class="icon"></div>
      </div>
      <div class="secondary-content">
        <div class="card-content">
          <div class="card-wrap red" *ngFor="let item of progressAllObj.PENDING;let i = index;">
            <div class="item-label">
              <div>牌照号</div>
            </div>
            <div class="chassis-number">{{item.vehicleLicensePlate || '-'}}</div>
            <div class="item-label">
              <div>工单</div>
              <div>{{getRepairOrderId(item.repairOrderId)}}</div>
            </div>
            <div class="item-label">
              <div>服务顾问</div>
              <div>{{item.assignedAdvisorName || '-'}}</div>
            </div>
            <div class="item-label">
              <div>交车时间</div>
              <div>{{item.dueOutDateTime | date :'yyyy-MM-dd HH:MM' || '-'}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
