<p-card styleClass="ui-card-shadow DS-schedule">
  <p-header>
    <div class="ui-button-group dataControl">
      <button icon="pi pi-angle-left" pButton type="button" mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" class="ui-button-secondary"></button>
      <button icon="pi pi-calendar" pButton type="button" mwlCalendarToday [(viewDate)]="viewDate" class="ui-button-secondary"></button>
      <button icon="pi pi-angle-right" pButton type="button" mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="closeOpenMonthViewDay()" class="ui-button-secondary"></button>
    </div>
    <h3>{{viewDate | amLocale:'zh-cn' | amDateFormat: 'YYYY/MM/DD dddd'}}</h3>
  </p-header>
  <div>
    <mwl-calendar-day-view [viewDate]="viewDate" [events]="events" [refresh]="refresh" (eventClicked)="handleEvent('Clicked', $event.event)" (eventTimesChanged)="eventTimesChanged($event)" [dayStartHour]="9" [dayEndHour]="18" [hourSegments]="4">
    </mwl-calendar-day-view>
  </div>
</p-card>
<p-card styleClass="ui-card-shadow DS-charts">
  <p-header>
    <h3>我的车间</h3>
  </p-header>
  <div echarts class="demo-chart" [options]="chartOptions"></div>
</p-card>
<p-dialog header="Title" [(visible)]="display" width="400" height="300">
  {{modalData | json}}
</p-dialog>
