<div class="board-task">
  <p-tabMenu [model]="items" [activeItem]="items[0]" class="DS-tabMenu"></p-tabMenu>
  <div class="tabContent">
    <section class="form-wrap">
      <div class="ui-g ui-fluid">
        <div class="ui-g-5">
          <span class="ui-float-label">
            <input id="float-input" type="text" size="30" pInputText>
            <label for="float-input">模糊搜索查询姓名/手机号/底盘号/…</label>
          </span>
        </div>

        <div class="ui-g-2">
          <span class="ui-float-label">
            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
            <label for="float-input">开始日期</label>
          </span>
        </div>

        <div class="ui-g-2">
          <span class="ui-float-label">
            <p-calendar [(ngModel)]="date" [showIcon]="true"></p-calendar>
            <label for="float-input">结束日期</label>
          </span>
        </div>
      </div>
    </section>
    <section class="button-wrap">
      <p-button label="搜索" (onClick)="handleClick($event)"></p-button>
    </section>
  </div>
</div>
