<div class="board-task">
  <div class="tab-menu">
    <div class="tab-wrap">
        <!-- <p-tabMenu [model]="items" [activeItem]="items[0]" class="DS-tabMenu" (click)="change($event)"></p-tabMenu> -->
        <p-tabMenu [model]="items" class="DS-tabMenu" [activeItem]="items[0]">
          <ng-template pTemplate="item" let-item let-i="index">
            <a tabindex="0" class="ui-menuitem-icon" (click)="change($event, i, item)">
              {{item.label}}
            </a>
          </ng-template>
        </p-tabMenu>
    </div>
    <div class="search-wrap">
        <section class="input-wrap">
            <input [(ngModel)]="inputStr" id="float-input" type="text" size="30" pInputText placeholder="查询车牌号/车架号">
        </section>
        <section class="button-wrap">
          <p-button label="搜索" (onClick)="search()"></p-button>
        </section>
      </div>
  </div>

  <div class="tabContent">
    <div *ngIf="activeIndex == 0">
      <div class="p-grid">
        <div class="p-col-3" *ngFor="let item of dataListObj.CREATED">
          <p-card (click)="dispatch(item)">
            <p-header [ngClass]="{'red-brand':item.activity == true}">
              <i class="pi pi-star hot-job"></i>
              <span class="serial-label">牌照号</span>
              <p></p>
              <div class="clearfix">
                <div class="serial-value">{{item.vehicleLicensePlate}}</div>
                <div class="serial-image">
                  <i class="pi pi-envelope icon-envelop" (click)="showSendMsg($event)"></i>&nbsp;
                  <!-- <i class="pi pi-eye icon-eye"></i> -->
                </div>
              </div>
            </p-header>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">客户预约交车时间</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">
                {{item.dueOutDateTime | date :'yyyy-MM-dd HH:MM'}}
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">
                <span [ngClass]="{'alert': (item.dueOutDateTime != '' && item.dueOutDateTime != null)
                  && (item.planOutDateTime != '' && item.planOutDateTime != null)
                  && (item.planOutDateTime >= item.planOutDateTime) }">预估交车时间</span>
              </div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">
                <span [ngClass]="{'alert': (item.dueOutDateTime != '' && item.dueOutDateTime != null)
                  && (item.planOutDateTime != '' && item.planOutDateTime != null)
                  && (item.planOutDateTime >= item.planOutDateTime) }">
                  {{item.planOutDateTime | date : 'yyyy-MM-dd HH:MM'}}
                </span>
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">车型</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right" title="{{item.vehicleDescription}}">
                {{item.vehicleDescription}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">车架号</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">{{item.vehicleVIN}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">SA</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">{{item.assignedAdvisorName}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">备注</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right" title="{{item.text}}">{{item.text}}</div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
    <div *ngIf="activeIndex == 1">
      <div class="p-grid">
        <div class="p-col-3" *ngFor="let item of dataListObj.INPROGRESS">
          <p-card (click)="dispatch(item)">
            <p-header [ngClass]="{'red-brand':item.hot == true}">
              <i class="pi pi-star hot-job"></i>
              <span class="serial-label">牌照号</span>
              <p></p>
              <div class="clearfix">
                <div class="serial-value">{{item.vehiclelicensePlate}}</div>
                <div class="serial-image">
                  <i class="pi pi-envelope icon-envelop"></i>&nbsp;
                  <!-- <i class="pi pi-eye icon-eye"></i> -->
                </div>
              </div>
            </p-header>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">客户预约交车时间</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">
                {{item.plannedOut | date :'yyyy-MM-dd HH:MM'}}
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">预估交车时间</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">
                {{item.dueOutDateTime | date : 'yyyy-MM-dd HH:MM'}}
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">车型</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right" title="{{item.vehicleDescription}}">
                {{item.vehicleDescription}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">车架号</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">{{item.vehicleVin}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">SA</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">{{item.assignedAdvisorName}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">备注</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right" title="{{item.notes}}">{{item.notes}}</div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
    <div *ngIf="activeIndex == 2">
      <div class="p-grid">
        <div class="p-col-3" *ngFor="let item of dataListObj.CHECKEDOUT">
          <p-card (click)="dispatch(item)">
            <p-header [ngClass]="{'red-brand':item.hot == true}">
              <i class="pi pi-star hot-job"></i>
              <span class="serial-label">牌照号</span>
              <p></p>
              <div class="clearfix">
                <div class="serial-value">{{item.vehiclelicensePlate}}</div>
                <div class="serial-image">
                  <i class="pi pi-envelope icon-envelop"></i>&nbsp;
                  <!-- <i class="pi pi-eye icon-eye"></i> -->
                </div>
              </div>
            </p-header>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">客户预约交车时间</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">
                {{item.plannedOut | date :'yyyy-MM-dd HH:MM'}}
              </div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">预估交车时间</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">
                {{item.dueOutDateTime | date : 'yyyy-MM-dd HH:MM'}}
              </div>
            </div>

            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">车型</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right" title="{{item.vehicleDescription}}">
                {{item.vehicleDescription}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">车架号</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">{{item.vehicleVin}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">SA</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right">{{item.assignedAdvisorName}}</div>
            </div>
            <div class="ui-g">
              <div class="ui-g-12 ui-md-6 ui-lg-6">备注</div>
              <div class="ui-g-12 ui-md-6 ui-lg-6 item-right" title="{{item.notes}}">{{item.notes}}</div>
            </div>
          </p-card>
        </div>
      </div>
    </div>
    <div *ngIf="activeIndex == 3">
      增项
    </div>
  </div>


  <p-dialog header="发送消息" [(visible)]="displaySendMessage" [modal]="true" [responsive]="true"
    [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <p>
      <span class="ui-float-label" style="margin-top: 10px;">
        <textarea id="float-input" rows="5" cols="30" style="width:100%;" pInputTextarea></textarea>
        <label for="float-input">消息内容</label>
      </span>
    </p>
    <p-footer>
      <button type="button" pButton icon="pi pi-check" (click)="sendMessage()" label="发送"></button>
    </p-footer>
  </p-dialog>

  <p-dialog header="详细信息" [(visible)]="displayTaskDetail" [modal]="true" [responsive]="true"
    [style]="{width: '600px', minWidth: '450px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    <div class="ui-g">
      <div class="ui-g-4">Col1</div>
      <div class="ui-g-8">Col2</div>
    </div>
    <p-footer>
      <button type="button" pButton icon="pi pi-close" (click)="closeDetail()" label="关闭"></button>
    </p-footer>
  </p-dialog>


</div>
